<%include ./partials/navbar %>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %>: SessionID: <%= sessionID %></p>


<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-md-3">
			<div class="card bg-light mb-3" style="max-width: 20rem; min-width: 20rem;">
				<div class="card-header bg-primary">Header</div>
				<div class="card-body">
					<h4 class="card-title">Light card title</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="card bg-light mb-3" style="max-width: 20rem; min-width: 20rem;">
				<div class="card-header">Header</div>
				<div class="card-body">
					<h4 class="card-title">Light card title</h4>
					<p class="card-text">Somequick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="card bg-light mb-3" style="max-width: 20rem; min-width: 20rem;">
				<div class="card-header">Header</div>
				<div class="card-body">
					<h4 class="card-title">Light card title</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="card bg-light mb-3" style="max-width: 20rem; min-width: 20rem;">
				<div class="card-header">Header</div>
				<div class="card-body">
					<h4 class="card-title">Light card title</h4>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
				<div class="card bg-light mb-3" style="max-width: 20rem; min-width: 20rem;">
					<div class="card-header">Header</div>
					<div class="card-body">
						<h4 class="card-title">Light card title</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
		</div>		
	</div>
</div>

