<%include ./partials/navbar %>

<div style="position:fixed; background-color:#333; width:100%; height: 100%;">
    <div id="wrapper" style="height: 100%; width:100%;">
        <div style="position:absolute; background-color: rgb(0,0,0,0.5); color:white; text-align:center; width:inherit; font-size:50px;">
            TITLE
        </div>
        <div id="left" style="float:right; width:50%; height:100%;" >
            <img src="../img/steak.jpg" style="width: 100%; height: 100%;">
            <div style="position:absolute; bottom:100px; left:0px; background-color: rgb(0,0,0,0.5); color:white; text-align:center; width: inherit; font-size: 30px;">
                LEFT
            </div> 
        </div>
        <div id="vs" style="position: fixed; color:yellow; font-size:100px; top:50%; left: 50%; margin-top: -50px; margin-left:-72px;">V.S</div>
        <div id="right" style="float:right; width:50%; height:100%;">
            <img src="../img/sushi.jpg" style="width: 100%; height: 100%;">
            <div style="position:absolute; bottom:100px; right:0px; background-color: rgb(0,0,0,0.5); color:white; text-align:center; width: inherit; font-size: 30px;">
                Right
            </div> 
        </div>
    </div>
</div>


