
body { 
    margin: 0;
    padding: 0;
    background-color: #f3f3f4;;
}

.first-div {
    padding: 0;
}

.fa-trophy {
    color: white;
}

.fa-sign-out {
    color: white;
}

.card {
    max-width: 280px;
    min-width: 250px;
}
